.DS_Store

node_modules
./nodejs/node_modules
./sourceCode_implement/npm/node_modules
# local env files
.env.local
.env.*.local
.env
./AI/fastapi/store/**

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
coverage