
html ,body{
  margin:0;
  padding:0;
}
.container{
  width:100vw;
  height:100vh;
  background-color:pink;
  padding:1px;
}

.nav-guide{
  background-color:gold;
  width: 40%;
  height: 050px;
  margin:300px auto;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items:center;
}
.nav-item{
  position: relative;
  width:33%;
}
.nav-item a{
  position: relative;
  text-decoration: none;
  background-color:rgba(1,1,1,0.5);
  border-radius: 5px;
  padding:10px;
  color:#fff;
}
.nav-content{
  position:absolute;
  display:flex;
  flex-direction:column;
  left:-100%;
  opacity: 0;
  display: none;
  transition:all .2s;
}

.mouse-in .nav-content{
  display: block;
}

.mouse-in-active .nav-content{
  opacity: 1;
}

.highlight{
  position:absolute;
  background-color:#fff;
  width:50px;
  height: 40px;
  border-radius: 20px;
  opacity:0;
  transition:all .2s;
}
.open{
  opacity: 1;
}


